@model Test.Models.Review

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rev_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rev_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rev_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rev_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Cust_Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Cust_Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.org_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.org_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Rev_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
