@model Test.Models.LabAsign

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LabAsign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LbAs_complStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LbAs_complStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complaint.Status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complaint.Status1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Labor.Lab_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labor.Lab_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.org_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.org_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LbAs_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
