@model Test.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cust_Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cust_Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cust_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_cellno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_cellno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Cust_id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
